
body{
    background-image: url(https://media.istockphoto.com/id/592015592/photo/subway-track-paltform-in-new-yrok-city.jpg?s=612x612&w=0&k=20&c=7z-gKioUHv1bltyUqvNL6PtdF5vGi0WgRRuiqUSMfy4=) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#layouts{
    padding: 20px;
    text-align: justify;
    border: solid 4px black;
    background-color: lightgray;
}

#interface{
    text-align: center;
}


#history{
    white-space : pre-line;
}

#main_heading{
    font-size: xx-large;

}

#counter{
    font-size: 7rem;
    padding: 0;
    margin: 0;
}

#increment-btn{
    width: 30%;
    height: 2rem;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
    background-color: palegreen;
}

#decrement-btn{
    width: 30%;
    height: 2rem;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
    background-color: lightcoral;
}

#save-btn{
    width: 40%;
    height: 2rem;
    padding-top: 5px;
    background-color: lightseagreen;
}

#total_heading,#prev_heading{
    font-size: x-large;
    margin: 0;
    margin-top: 10px;
}

#total_count{
    margin: 0;
    padding: 2px;
    border: solid 2px;
    width: 20%;
    text-align: center;
}

#history{
    margin: 0;
    padding: 2px;
    border: dotted 2px;
}